<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.onboard.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onboard</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.google.GIDSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.609819130016-ps5jn4mhva2c0uhagcc89a1d71kubt3g</string>
			</array>
		</dict>
	</array>
	<key>GoogleClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>SupabaseAnonKey</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SupabaseURL</key>
	<string>https://pvgmcqokvcqsztaeqcpe.supabase.co</string>
	<key>UIAppFonts</key>
	<array>
		<string>ZalandoSansExpanded.ttf</string>
		<string>ZalandoSansSemiExpanded.ttf</string>
		<string>ZalandoSans.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>On Board uses your camera so you can take a photo directly for your profile picture or a post.</string>
</dict>
</plist>
